:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border-radius: 8px;
  border: 1px solid #1a1a1a;
  border-left: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: 0 4px 4px 0;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fefefe;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
}

.calorie-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.input-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.calorie-form input {
  padding: 1rem;
  min-width: 50px;
  border: 1px solid #1a1a1a;
  border-radius: 4px 0 0 4px;
}

.error {
  color: red;
}

table {
  width: 50%;
  border: 1px solid #1a1a1a;
  border-radius: 4px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

td {
  border: solid 1px #1a1a1a;
  border-style: none solid solid none;
  padding: 10px;
}

tr:first-child th:first-child {
  border-right: 1px solid #1a1a1a;
}

tr:first-child td:first-child {
  border-left: none;
}

tr:first-child td:last-child {
  border-right: none;
}

td:first-child {
  border-left: none;
}

td:last-child {
  border-right: none;
}

tr:last-child td:first-child {
  border-left: none;
  border-bottom: none;
}

tr:last-child td:last-child {
  border-bottom: none;
  border-right: none;
}

tr:first-child td {
  border-top-style: solid;
}
